@model MusteriCreateDTO
<div class="card">
    <div class="card-header">
        <h3>Yeni Musteri</h3>
        <div class="card-header">
            <div class="text-danger" asp-validation-summary="ModelOnly"></div>
        </div>
    </div>
    <div class="card-body">
        <form asp-action="Create" asp-controller="Musteri" method="post" enctype="multipart/form-data">

            <div class="input-group mb-3">
                <input type="text" asp-for="Ad" class="form-control" placeholder="Adi">
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-text text-info" asp-validation-for="Ad"></span>
                    </div>
                </div>
            </div>
            <div class="input-group mb-3">
                <input type="text" asp-for="Soyad" class="form-control" placeholder="Soyadi">
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-text text-info" asp-validation-for="Soyad"></span>
                    </div>
                </div>
            </div>
            <div class="input-group mb-3">
                <input type="text" asp-for="MusteriTcNo" class="form-control" placeholder="Tc No">
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-text text-info" asp-validation-for="MusteriTcNo"></span>
                    </div>
                </div>
            </div>
            @*<div class="input-group mb-3">
            <input type="text" asp-for="Cinsiyet" class="form-control" placeholder="Cinsiyet">
            <div class="input-group-append">
            <div class="input-group-text">
            <span class="fas fa-text text-info" asp-validation-for="Cinsiyet"></span>
            </div>
            </div>
            </div>*@
            <div class="input-group mb-3">
                <input type="text" asp-for="CepNo" class="form-control" placeholder="Cep No">
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-phone text-info" asp-validation-for="CepNo"></span>
                    </div>
                </div>
            </div>

            <div class="form-group ">
                <div class="position-relative">
                    <div class="form-check form-check-lg d-flex align-items-end">
                        <label class="form-check-label text-gray-800" asp-for="Cinsiyet"> Erkek : </label>
                        <input class="form-check-input me-2 " type="checkbox" id="Cinsiyet" asp-for="@Model.Cinsiyet">
                        <label class="form-check-label text-gray-800" asp-for="Cinsiyet"> Kadın : </label>
                        <input class="form-check-input me-2 " type="checkbox" id="Cinsiyet" asp-for="@Model.Cinsiyet">
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary" value="Kaydet">Kaydet</button>

        </form>
    </div>
