@model Musteri

<h3>Kaydı silmek istiyor musunuz</h3>

<form asp-action="Delete" asp-controller="Musteri" method="post">

   
    <button type="submit" class="btn btn-primary" value="Delete">Delete</button>

</form>
